<% layout( '../layout' ) -%>
	<font size="3"> <b> Hello <%=session.user%> whats Up </b>  </font>
<div id="hrr" >
	


</div>





<script>
    <% script('/scripts/custom/registervendor.js') %>
	
</script>

	