<% layout( '../layout' ) -%>
	<font size="3"> <b> Hello <%=session.user%> whats Up </b>  </font>
<div id="hrr" >
	<form action="/attendence/" align=Left  method="post" accept-charset="utf-8" align=center>
	 <fieldset>



</div>





<script>
    <% script('/scripts/custom/registervendor.js') %>
	
</script>

	