<% layout( '../layout.ejs' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<link rel="stylesheet" href="style.css">



<script>
    <% script('/scripts/custom/registervendor.js') %>
	
</script>