<% layout( 'layout' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<div id="header" style="background-color:LightSteelBlue ;">
	<form action="/equipment/findresult" align=Left  method="post" accept-charset="utf-8" align=center>
	 <fieldset>
	  <p>
	   <b>Equipmentname:</b><input type="text" size="100" placeholder="Mandatory Equipmentname...." name="Equipmentname" required />
	  Enter Equipment name Name(60 chars) 
	  </p>
	  <p> <b>:</b></p>
	  <textarea rows="8" cols="100" name="address" placeholder="Enter Address here..."></textarea>
	  Address (1000 chars)
	  </p>
	   <p>
	   <b>EquipmentPrice:</b><input type="number" size="10" name="EquipmentPrice" placeholder=" EquipmentPrice..."/>
	  contact number(60 chars)
	  </p>  
	 	  
	  <p>
	   <b>manufacturer :</b><input type="text" size="10" name="manufacturer" />
	  Enter manufacturer(10 chars)
	  </p>
	  
	  <p>
	   <b>Purchasedate:</b><input type="date" size="10" name="Purchasedate" />
	  Enter a Purchasedate(10 chars)
	  </p>
	  
	   <p>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	  <link rel="stylesheet" href="/resources/demos/style.css">
	  <script>
	  $(function() {
		$( "#datepicker1" ).datepicker();
		$( "#datepicker2" ).datepicker();
	  });
	  </script>
	    <b>Purchasedate:</b><input type="text"  id="datepicker1"  name="Purchasedate" />
	 </p>
	 <p> <b>Description :</b></p>
	  <textarea rows="8" cols="100" name="description" placeholder="Enter description here..."></textarea>
	  Description (1000 chars)
	  </p>
	 <input type="submit", value="Submit" />
</div>

