<% layout( 'layout' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<div id="header" style="background-color:LightSteelBlue ;">
	<form action="/equipment/findresult" align=Left  method="post" accept-charset="utf-8" align=center>
	 <fieldset>
	  <p>
	   <b>Search:</b><input type="text" size="100" placeholder="Mandatory Equipmentname...." name="Equipmentname" required />
	  Enter Equipment name Name(60 chars) 
	  </p>
	  
	  Advanced search
	  <input id="Advancedsearch" type="checkbox" value="1" onclick="unhide('hidden-input', this)">
	  <div id="hidden-input" style="display:none">
	   <p>
	   <b>EquipmentPrice:</b><input type="number" size="10" name="EquipmentPrice" placeholder=" EquipmentPrice..."/>
	  contact number(60 chars)
	  
	   <select name="type">
	<option value="Greater than">Greater than</option>
	<option value="Less than">Less than</option>
	<option value="Equal than">Equal than</option>

	</select>
		 	  
	  <p>
	   <b>manufacturer :</b><input type="text" size="10" name="manufacturer" />
	  Enter manufacturer(10 chars)
	  </p>
	  
	  <p>
	   <b>Purchasedate:</b><input type="date" size="10" name="Purchasedate" />
	  Enter a Purchasedate(10 chars)
	  </p>
	  
	   <p>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	  <link rel="stylesheet" href="/resources/demos/style.css">
	  <script>
	  $(function() {
		$( "#datepicker1" ).datepicker();
		$( "#datepicker2" ).datepicker();
	  });
	  </script>
	    <b>Purchasedate:</b><input type="text"  id="datepicker1"  name="Purchasedate" />
	 </p>
	</div>
	 <input type="submit", value="Search" />
</div>

