<% layout( '../layout.ejs' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<div id="header" style="background-color:LightSteelBlue ;">
	<form action="/vendor/create" align=Left  method="post" accept-charset="utf-8" align=center>
	 <fieldset>
	  <p>
	   <b>Center Name:</b><input type="text" size="100" placeholder="Mandatory Center name...." name="centername" required />
	  Enter Center Name(60 chars) 
	  </p>
	  <p> <b>Address :</b></p>
	  <textarea rows="8" cols="100" name="address" placeholder="Enter Address here..."></textarea>
	  Address (1000 chars)
	  </p>
	  
	  <p>
	   <b>Email:</b><input type="email" size="40" name="email" placeholder=" your email address..."/>
	  Email(60 chars)
	  </p>
	   <p>
	   <b>Mobile:</b><input type="tel" size="40" name="mobilenumber" placeholder=" your mobile number..."/>
	  contact number(60 chars)
	  </p>  
	 	  
	  <p>
	   <b>Owner :</b><input type="text" size="10" name="owner" />
	  Enter owner(10 chars)
	  </p>
	  
	  <p>
	   <b>Password:</b><input type="text" size="10" name="password" />
	  Enter a Password(10 chars)
	  </p>
	   <p>
	    <b>Start Date:</b><input type="text"  id="datepicker1"  name="startDate" />
	 </p>
	 <p> <b>Description :</b></p>
	  <textarea rows="8" cols="100" name="description" placeholder="Enter description here..."></textarea>
	  Description (1000 chars)
	  </p>
	 <input type="submit" value="Submit" />
</div>
<script>
    <% script('/scripts/custom/registervendor.js') %>
</script>

