<% layout( '../layout' ) -%>



			<font size="3"> <b> Hello <%=session.user%> whats Up </b>  </font>
 <div>		
	 <form align=left method="post" action="/equipment/create">
	  	<input type="submit", value=" Add Equipment" />
		Click for Details facility Managment
	</form>
   
 </div>
 
  <div>		
	 <form align=left method="post" action="/equipment/findpage">
	  	<input type="submit", value=" Search" />
		Click for Search
	</form>
   
 </div>
  <div>		
	 <form align=left method="post" action="/plan/create">
	  	<input type="submit", value=" Add Plan" />
		Click for Adding a Plan 
	</form>
   
 </div>
 
  <div>		
	 <form align=left method="post" action="/plan/findpage">
	  	<input type="submit", value=" Search" />
		Click for Plan Search
	</form>
   
 </div>