<% layout( 'layout' ) -%>


<h1 style="margin-bottom:0;" align=center ><%= title %></h1>

		<p>
				<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;align=center>
					"USe"
				</div>
				<div>
				 <a href="/session/new " title="Existing Users"><b> Login</b> </a>
				
				</div>
				<div>				
				  <a href="/session/user " title="New Users"><b> Register </b> </a>
				</div>
			
		</p>
