<% layout( 'layout' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<link rel="stylesheet" href="style.css">

<div align=center >
<form action="/session" method="post" accept-charset="utf-8" style="background-color:#D9A2A2;height:150px;width:500px;">
  <p>
  &spades; Username:<input type="text" name="username"  required placeholder="Username"/>
   </p>
  <p>
  &spades; Password:<input type="password" name="password" required placeholder="Username"/>
   </p>
  
  <input type="submit", value="Submit" />


</form>
</div>