<% layout( '../layout.ejs' ) -%>
<h1 style="margin-bottom:0;" align=center ><%= title %></h1>
<link rel="stylesheet" href="style.css">
<div align=center >
<form action="/session/resetpassword" method="post" accept-charset="utf-8" style="background-color:#D9A2A2;height:150px;width:500px;">
  <p>
   Username:<input type="text" name="username"  required placeholder="Username"/>
   </p>
   <p>
   Registered Mobile: <input type="tel" size="20" name="mobilenumber" required placeholder=" your Registered mobile number..."/>
   </p>
  <p>
   New Password:<input type="password" name="password" required placeholder="new Password"/>
   </p>
  <p>
   Confirm Password:<input type="password" name="pwd2" required placeholder="confirm new Password"/>
   </p>
  
  <input type="submit", value="Reset" />
</form>
</div>
<div>				
	<a href="/session/retrievepassword" title="Retrive Old Password on Registered Email"><b> Retrieve Password </b> </a>
</div>
<script>
    <% script('/scripts/custom/registervendor.js') %>
	
</script>