body {
    font: 14px Helvetica, Arial, sans-serif;
    color: #808080;
}

}
#footer {
	margin-top: 150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	background-color: #97B094;
    bottom: 0;
	} 
h1 {
    background-color:;
}



#hrr {
background-color:LightSteelBlue;
}

p {
    background-color: ;
}